<section class="flex">
  <div class="w-[20%] p-2 border-2 border-solid border-neutral-500">
    <h1 class="text-xl">Categories</h1>
    @for (item of categories; track $index) {
    <p class="pt-3" (click)="OnClick(item.id)">
      <a
        routerLink="/public/categorie/{{ item.id }}"
        routerLinkActive="router-link-active"
        >> {{ item.libelle }}</a
      >
    </p>
    }
  </div>
  <div class="w-[60%]">
    <div class=""></div>
    <div class=""></div>
    <div class="">
      <app-list-produit
        [resultsProdALouer]="resultsProdALouer"
        [resultsProdAVendre]="resultsProdAVendre"
        [resultsService]="resultsService"
        [dataPagination]="dataPaginationAV"
        (OnPaginateAV)="OnPaginateAV($event)"
        [dataPaginationAL]="dataPaginationAL"
        (OnPaginateAL)="OnPaginateAL($event)"
        [dataPaginationSE]="dataPaginationSE"
        (OnPaginateSE)="OnPaginateSE($event)"
      ></app-list-produit>
    </div>
  </div>
</section>
