<section class="flex justify-between p-5 bg-gray-50">
  <div class="w-1/4">
    <form [formGroup]="form">
      <select
        class="block py-2.5 px-2 w-full text-sm text-gray-800 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
        name="type"
        id=""
        formControlName="type"
        (change)="OnTypeChange()"
      >
        <option value="produitAVendre">produits a vendre</option>
        <option value="produitALouer">produits a louer</option>
        <option value="service">services</option>
      </select>
    </form>
  </div>
  <div class="">
    <button
      (click)="onOpenForm()"
      type="button"
      class="inline-block rounded-full bg-green-500 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-green-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-green-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-green-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
    >
      nouveau
    </button>
  </div>
</section>
<section class="">
  <div class="grid grid-cols-5 gap-5 mt-5">
    @for (item of response?.results; track $index){
    <div
      class="relative w-full px-5 border border-black border-solid shadow-xl border-5 shadow-gray-900"
    >
      <div class="flex justify-center h-40">
        @if (item.photos != null) {
        <img
          src="assets/imageUpLoad/{{ item.photos.split(',')[0] }}"
          class="object-contain h-full"
          alt=""
        />
        }
      </div>
      <div
        class="grid justify-between grid-cols-2 text-sm font-bold text-gray-900"
      >
        <div class="">{{ item.libelle }}</div>
        <div class="text-right">{{ item.stock }}</div>
        <div class="">{{ item.prixAchat }}</div>
        <div class="text-right">{{ item.prixVente }}</div>
      </div>
      <div class="text-sm font-bold">
        <p class="">{{ item.description }}</p>
      </div>
      <div class="flex justify-between my-3">
        <button
          type="button"
          class="inline-block text-sm rounded-full bg-red-500 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-red-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-red-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-green-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
        >
          archiver
        </button>
        <button
          type="button"
          class="inline-block rounded-full bg-green-500 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-green-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-green-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-green-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
        >
          modifier
        </button>
      </div>
    </div>
    }
  </div>
  <div class="">
    <app-pagination
      [data]="dataPagination"
      (OnGetNumberPage)="paginate($event)"
    ></app-pagination>
  </div>
  <div
    [ngClass]="{
      'transition-transform': true,
      '-translate-x-full': formIsClose
    }"
  >
    <app-produits-form (OnCloseForm)="closeForm()"></app-produits-form>
  </div>
</section>
