<nav
  class="flex position-fixed items-center justify-between px-5 h-20 top-0 left-0 right-0 bg-blue-300 text-black"
>
  <div class="w-1/3">
    <img
      class="w-20 object-center"
      src="../../../../assets/img/logo.png"
      alt=""
    />
  </div>
  <div class="w-1/3">
    <ul class="list-none flex gap-4 font-bold justify-center">
      <li class=""><a routerLink="/admin/produit">Vente</a></li>
      <li class=""><a routerLink="/RP/cours">Location</a></li>
      <li class=""><a routerLink="/admin/produit">Produit et Service</a></li>
      <li class=""><a routerLink="/RP/cours">Commande</a></li>
    </ul>
  </div>
  <div class="w-1/3">
    <img
      class="w-14 object-cover float-right"
      src="../../../../assets/img/9035967_people_sharp_iconfinder.svg"
      alt=""
    />
  </div>
</nav>
